# =============================================================================
# BLUEPRINT FOR APPLICATION PROPERTIES
#
# This template file is a blueprint for the construction of a 
# application.properties file, which this application needs, when 
# running it locally or remotely.
# =============================================================================


# GENERAL PROPERTIES
# -----------------------------------------------------------------------------
deepgreen.tmpDirPath=/tmp/deepgreen
deepgreen.zipFilePath=/tmp/deepgreen/zip
deepgreen.xmlFilesPath=/tmp/deepgreen/xml

# DATABASE ACCESS
# -----------------------------------------------------------------------------
spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://localhost:3306/deepgreen?createDatabaseIfNotExist=true
spring.datasource.username={YOUR_DB_USERNAME}
spring.datasource.password={YOUR_DB_PASSWORD}
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# SEND EMAIL PROPERTIES
# =============================================================================
spring.mail.host={YOUR_EMAIL_SERVER}
spring.mail.port={YOUR_EMAIL_PORT}
spring.mail.username={YOUR_EMAIL_USERNAME}
spring.mail.password={YOUR_EMAIL_PASSWORD}
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.from={EMAIL_SEND_FROM}
spring.mail.to={EMAIL_SEND_TO}

# DEEPGREEN API ACCESS
# -----------------------------------------------------------------------------
deepgreen.apiURL={URL_TO_API}
deepgreen.notificationURL={URL_TO_GET_NOTIFICATION}
deepgreen.apiKey={YOUR_API_KEY}

# DEVELOPMENT PROPERTIES (for dev server)
# -----------------------------------------------------------------------------
server.baseURL={API_URL_TO_DEV_SERVER}
server.resourceURL=${server.baseURL}/resource
server.frlURL=${server.resourceURL}/frl
server.elasticsearchURL=${server.baseURL}/search/frl2/_search
server.apiUser={YOUR_API_USERNAME}
server.apiPassword={YOUR_API_PASSWORD}
attr.isDescribedBy.createdBy=39
 
# PRODUCTION PROPERTIES (for prod server)
# -----------------------------------------------------------------------------
server.baseURL={API_URL_TO_PROD_SERVER}
server.resourceURL=${server.baseURL}/resource
server.frlURL=${server.resourceURL}/frl
server.elasticsearchURL=${server.baseURL}/search/frl2/_search
server.apiUser={YOUR_API_USERNAME}
server.apiPassword={YOUR_API_PASSWORD}
attr.isDescribedBy.createdBy=322

# MODIFIER
# -----------------------------------------------------------------------------
attr.accessscheme={PRIVATE_OR_PUBLIC}
attr.publishscheme={PRIVATE_OR_PUBLIC}

# LOGGING (disabled by default)
# -----------------------------------------------------------------------------
#logging.path=/var/logs
#logging.file=deepgreen-app.log
#logging.config= location of config file (default classpath:/logback.xml for logback)
#logging.level.*= levels for loggers, e.g. "logging.level.org.springframework=DEBUG" (TRACE, DEBUG, INFO, WARN, ERROR, FATAL, OFF)

